grammars/oal.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.obyx.org/osi-application-layer" xml:lang="en"
	xmlns="http://www.obyx.org/osi-application-layer"
	xmlns:m="http://www.obyx.org/message"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>
			oal.xsd is authored and maintained by Ben Griffin of Red Snapper Ltd. 
			oal.xsd is a part of Obyx - see http://www.obyx.org .
			Obyx is protected as a trade mark (2483369) in the name of Red Snapper Ltd.
			This file is Copyright (C) 2006-2009 Red Snapper Ltd. http://www.redsnapper.net
			The governing usage license can be found at http://www.gnu.org/licenses/gpl-3.0.txt
			
			This program is free software; you can redistribute it and/or modify it
			under the terms of the GNU General Public License as published by the Free
			Software Foundation; either version 3 of the License, or (at your option)
			any later version.
			
			This program is distributed in the hope that it will be useful, but WITHOUT
			ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
			FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
			more details.
			
			You should have received a copy of the GNU General Public License along
			with this program; if not, write to the Free Software Foundation, Inc.,
			59 Temple Place, Suite 330, Boston, MA  02111-1307 USA
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.obyx.org/message" schemaLocation="message.xsd" />
	<xs:element name="http">
		 <xs:complexType mixed="false">
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="request" >
					<xs:complexType mixed="false">
						<xs:sequence>
							 <xs:element ref="m:message" maxOccurs="1" minOccurs="0" />
						</xs:sequence>
						<xs:attribute name="method" type="xs:string" use="required"/>
						<xs:attribute name="url" type="xs:string" use="optional"/>
						<xs:attribute name="version" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="response" >
					<xs:complexType mixed="false">
						<xs:sequence>
							<xs:element ref="m:message" maxOccurs="1" minOccurs="0" />
						</xs:sequence>
						<xs:attribute name="version" type="xs:string" use="required"/>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="reason" type="xs:string" use="required"/>
					 </xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mta">
		<xs:complexType mixed="false">
			<xs:choice minOccurs="1" maxOccurs="1">
				 <xs:element name="send" >
					<xs:complexType mixed="false">
						<xs:sequence>
							<xs:element ref="m:message" maxOccurs="1" minOccurs="1" />
						</xs:sequence>
						<xs:attribute name="sender" type="xs:string" use="optional"/>
					 </xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>